.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }
}
